body{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    color: #000000;
}

.logo a {
    text-decoration: none;
    color: white;
    cursor: default;
    font-size: 23px;
    font-weight: 600;
}

.search-container {
    text-align: center;
    padding: 80px 0;
}

.search-bar {
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 500px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

.intro-text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 27px;
    color: white;
    text-align: center;
}

.ellipse-container {
    width: 1200px;
    height: 350px;
    border-radius: 145px;
    background-color: rgba(128, 116, 116, 0.5);
    margin: 10px auto 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.image-container {
    text-align: center;
}

.image-container img{
    width: 50%;
    height: auto;
    margin: 0 10px;
}

.image-container span {
    display: block;
    margin-top: 5px;
    color: white;
}

.settings-menu {
    position: fixed;
    bottom: 570px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.settings-menu h2 {
    margin-top: 0;
}

.settings-menu select {
    margin-top: 10px;
}

body {
    font-family: Arial, sans-serif;
}

path {
    cursor: pointer;
    transition: fill 0.3s;
}

path:hover {
    fill: #ffcc00;
}

#tooltip {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
}

/*escuro*/

.dark-theme body{
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.dark-theme .logo a{
    text-decoration: none;
    color: white;
    cursor: default;
    font-size: 23px;
    font-weight: 600;
}

.green-theme .logo a{
    text-decoration: none;
    color: black;
    cursor: default;
    font-size: 23px;
    font-weight: 600;
}

.dark-theme .search-bar {
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #0f0f0f;
    width: 500px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

.dark-theme .intro-text {
    margin-top: 20px;
    font-size: 27px;
    color: white;
    text-align: center;
}

.dark-theme #tooltip {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
}


/*verde*/

.dark-theme body{
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.green-theme .search-bar {
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #0f0f0f;
    width: 500px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

.green-theme .intro-text {
    margin-top: 20px;
    font-size: 27px;
    color: black;
    text-align: center;
}

.green-theme #tooltip {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
}

/* background */
/* Default theme */
body.default-theme {
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
}

/* Dark theme */
body.dark-theme {
    background-color: #121212;
    background-image: none;
    color: #ffffff;
}

/* green theme */
body.green-theme {
    background-color: #d5ffd5; 
    background-image: none;
    color: #ffffff;
}